.navbar {
    background-color: #BE8EFA;
  }

  .navbar-default .navbar-brand{
    color: #080808;
    font-weight: bold;
}

.navbar-header {
    margin-top: 2%;
}
.form-group {
    margin-top: 2%;
}

.search{
    height: 50px !important;
    cursor: pointer;
}